body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import '~antd/dist/antd.css';
.header{
  margin-left:0px;
  padding-left:0px;
  padding-right:0px;
}

.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.custom-panel{
  color:grey;
  font-size: 14px;
}
.site-layout-background,site-layout-sub-header-background {
  background: #fff;
}
.ant-layout-content{
  /* padding: 24px; */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


